APP_NAME=managed-service-skeleton-api
NODE_ENV=development
HOST_PORT=3000
APP_PORT=3000

POSTGRES_DB=managed_service
POSTGRES_USER=app_user
POSTGRES_PASSWORD=app_password

DATABASE_URL=postgresql://app_user:app_password@postgres:5432/managed_service
REDIS_URL=redis://redis:6379